body{
background-repeat: no-repeat;
background-size: cover;
p{
  font-family: "Times New Roman"
}
label{
  font-family: "Times New Roman"
}
.navtool{
  cursor: pointer;
  font-size: 18px;
  color: #F48024;
}
}
