<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 createpage">
<div class="headcontent">Create New Page........</div>
<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 Container1">
  <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 subcol1">
    <div class="row">
      <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4">
<span class="lbl">Website Name:</span>
</div>
<div class="col-lg-8 col-xl-8 col-md-8 col-sm-8">
<input type="text" class="inpsize form-control" ng-model="webdatas.webtitle" placeholder="Name of the site">
</input>
</div>
</div>
<div class="row">
  <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4">
<span class="lbl">Address 1:</span>
</div>
<div class="col-lg-8 col-xl-8 col-md-8 col-sm-8">
<input type="text" class="inpsize form-control" ng-model="webdatas.addr1" placeholder="Address line 1">
</input>
</div>
</div>
<div class="row">
    <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4">
<span class="lbl">Address 3:</span>
</div>
<div class="col-lg-8 col-xl-8 col-md-8 col-sm-8">
<input type="text" class="inpsize form-control" ng-model="webdatas.addr3" placeholder="Address line 3">
</input>
</div>
</div>
<div class="row">
    <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4">
<span class="lbl">Zip code:</span>
</div>
<div class="col-lg-8 col-xl-8 col-md-8 col-sm-8">
<input type="text" class="inpsize form-control" ng-model="webdatas.zipcode" placeholder="Postal code or zip code">
</input>
</div>
</div>
<div class="row">
  <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4">
<span class="lbl">Page Header:</span>
</div>
<div class="col-lg-8 col-xl-8 col-md-8 col-sm-8">
<input type="text" class="inpsize form-control" ng-model="webdatas.title" placeholder="Title of the Page or Header">
</input>
</div>
</div>
  </div>
  <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 subcol2">
    <div class="row">
      <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4">
    <span class="lbl">Owner Name:</span>
  </div>
  <div class="col-lg-8 col-xl-8 col-md-8 col-sm-8">
    <input type="text" class="inpsize form-control" ng-model="webdatas.owner" placeholder="Name of the Owner">
    </input>
    </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4">
    <span class="lbl">Address 2:</span>
  </div>
  <div class="col-lg-8 col-xl-8 col-md-8 col-sm-8">
    <input type="text" class="inpsize form-control" ng-model="webdatas.addr2" placeholder="Address line 2">
    </input>
    </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4">
    <span class="lbl">City:</span>
  </div>
    <div class="col-lg-8 col-xl-8 col-md-8 col-sm-8">
    <input type="text" class="inpsize form-control" ng-model="webdatas.city" placeholder="City">
    </input>
  </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4">
    <span class="lbl">Phone No:</span>
  </div>
    <div class="col-lg-8 col-xl-8 col-md-8 col-sm-8">
    <input type="text" class="inpsize form-control" ng-model="webdatas.phone" placeholder="Phone number">
    </input>
  </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4">
    <span class="lbl">Footer:</span>
  </div>
  <div class="col-lg-8 col-xl-8 col-md-8 col-sm-8">
    <input type="text" class="inpsize form-control" ng-model="webdatas.footer" placeholder="Footer or copyrignt infos...">
    </input>
  </div>
    </div>
  </div>
  <div class="headcontent">PageSub contents</div>
  <div class="subcontroll">
  <div ng-repeat="row in rowdata" class="col-lg-12 col-xl-12 col-md-12 col-sm-12 Container2">
<div class="col-lg-4 col-xl-4 col-md-4 col-sm-4">
<div class="subcont">
  <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4">
<span class="lbl">Submenu:</span>
</div>
<div class="col-lg-8 col-xl-8 col-md-8 col-sm-8">
<input type="text" class="inpsize form-control" ng-model="row.subtitle" placeholder="Submenu title">
</input>
</div>
</div>
</div>
<div class="col-lg-8 col-xl-8 col-md-8 col-sm-8">
  <div class="subcont">
    <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3">
  <span class="lbl">Description:</span>
  </div>
  <div class="col-lg-8 col-xl-8 col-md-8 col-sm-8">
  <textarea class="form-control" ng-model="row.description" placeholder="Data or content">
  </textarea>
  </div>
  <div class="col-lg-1 col-xl-1 col-md-1 col-sm-1">
  <i ng-click="delsubcon($index)" class="fas fa-trash-alt"></i>
</div>
  </div>
</div>
</div>
<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 addicn">
<i ng-click="addarow()" class="fas fa-plus-circle"></i>
</div>
  </div>
<span class="navtool" ng-click="back()">
  Go Back
</span>
<center class="lstsub">
  <button type="button" ng-click="submitpage()" class="btn btn-primary">Submit</button>
</center>
</div>
