<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 adminpage">
<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 header">
<center>
  <p>
    Iam Administrator, i will not let something to go wrong.....
  </p></center>
</div>
<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 container1">
<span ng-click="createnew()">
  <i class="fab fa-medrt"></i>
<span>Create New</span>
</span>
</div>
<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 container2">
<span class="col-lg-12 col-xl-12 col-md-12 col-sm-12 avail">
  Available Pages
</span>
<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 contents">
  <table>
      <thead>
      <tr>
  <th>SL.No</th>
  <th>Site Name</th>
  <th>Owner</th>
  <th></th>
  <th></th>
  </tr>
</thead>
<tbody>
<tr ng-if="listdata.length>0" ng-repeat="list in listdata">
  <td>{{$index+1}}</td>
  <td>
  <span ng-bind="list.webtitle"></span>
</td>
<td>
<span ng-bind="list.owner"></span>
</td>
<td>
  <span class="pointers" ng-click="editing(list._id)">
  <i class="far fa-edit"></i>Edit
</span>
</td>
<td>
  <span class="pointers" ng-click="deleting(list._id)">
<i class="fas fa-times-circle"></i>Delete
</span>
</td>
</tr>
</tbody>
</table>

</div>
</div>
<span class="navtool" ng-click="logout()">
  Logout
</span>
</div>
